body {
  background: url("/bckground.jpg");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#newsfeed {
  padding-left: 65rem;
}

#ui-item-disabled {
  pointer-events: none;
  opacity: 0.4;
}

.img.mini-avatar-image {
  width: 5em;
  height: 6em;
  border-radius: 400rem;
}

.ui-center-dimmer:hover{
  transition: 'fade down'
}

#button-example {float: right}

.ui.form.container{
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 10rem;
  padding-bottom: 10rem;

}

#signupSubmit {float: center}
/* 
#loginLogo{
  padding-left: 10rem;
} */

/* .ui.vertical.icon.menu{
  display: flex
}

.ui.vertical.menu { width: 15rem; padding-left: 10rem; }

pushable:not(body)>.ui.sidebar { position: sticky; } */




/* .ui-sticky {
  width: 272px !important; 
  height: 262.531px !important;
  left: 43px;
} */
